.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.bg-primary {
    color: red;
}

image-compare {
    --thumb-background-color: hsla(0, 0%, 16%, 0.769);
    --thumb-background-image: url('data:/svg+xml;utf8,<svg viewbox="0 0 60 60"  width="60" height="60" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M20 20 L10 30 L20 40"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M40 20 L50 30 L40 40"/></svg>');
    --thumb-size: clamp(2.5em, 1vmin, 5em);
    --thumb-radius: 50%;
    --thumb-border-color: hsla(0, 0%, 0%, 0.9);
    --thumb-border-size: 2px;
  
    --focus-width: var(--thumb-border-size);
    --focus-color: hsla(0, 0%, 100%, 0);
  
    --border-width: 0.5px;
    --border-color: hsla(0, 0%, 0%, 0.9);
}