---
title: "Demo Post 6";
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
pubDate: "Sep 12 2022";
heroImage: "/underpass.png";
heroImage2: "/underpass-day.png";
badge: "Demo badge";
tags: ["rust", "tokio"];
---

<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <h1>Welcome to my website!</h1>
  </body>
</html>
