---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <button
    class="btn btn-primary rounded-full mb-5"
    type="submit"
    onclick="window.open('ipek-cv-2024.pdf')">Download CV</button
  >

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a recent architecture graduate from Bilkent University with a strong
    background in 3D modeling, texturing, and rendering. Currently, I am
    actively seeking opportunities within the game and animation industry where
    I can leverage both my architectural education and my expertise in 3D
    modeling. I possess a strong aptitude for rapid learning and am enthusiastic
    about gaining additional experience in related fields.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bilkent University Department of Architecture"
      subtitle="Bachelor of Architecture"
      subtitle2="2018 to 2023 at Bilkent University, Ankara, Turkey"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Various Commision Works" subtitle="Ongoing">
      I have had the privilege of receiving a diverse range of commission
      projects, spanning from student render assignments to the creation of 3D
      prop packs tailored for use in games and game prototypes. For these
      endeavors, I've primarily employed software tools such as Rhino, Blender,
      and Substance Painter. This experience has allowed me to sharpen my skills
      and adapt to the specific requirements of each project, fostering
      versatility and expertise in my work. <br />
    </TimeLineElement>
    <TimeLineElement
      title="Internship at S Tasarım"
      subtitle="From June 2022 to August 2022 at S Tasarım, Ankara, Turkey"
    >
      S Tasarım <br /> S Tasarım is an architecture company known for its diverse
      projects spanning various cities. During my internship with this esteemed firm,
      I acquired a wealth of knowledge and skills in rendering software, presentation
      techniques, and 3D modeling that meets industry standards. Notably, I honed
      the ability to animate and render 3D models to professional quality. My specific
      area of focus during the internship was environmental rendering, and I had
      the privilege of delving deep into this aspect. I gained valuable insights
      into crafting industry-standard renders and models that met the high expectations
      of the field. Moreover, my time at S Tasarım provided me with a unique opportunity
      to witness the intricate workflows of various housing projects in different
      cities, further enriching my understanding of architectural processes and practices.
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="Internship at ASTURK Hospital Complex Project"
      subtitle="From June 2021 to July 2021 at ASTURK, Ankara, Turkey"
    >
      ASTALDİ-TÜRKERLER ORTAK GİRİŞİMİ <br /> ASTÜRK is a prominent company specializing
      in the field of construction. I had the privilege of interning with them in
      the realm of structural engineering. During this internship, I had the opportunity
      to gain valuable insights into a wide array of software tools commonly utilized
      within the industry, including 3D software like Revit, Rhino, and AutoCAD.
      I actively applied these software skills to contribute to smaller projects.
      Furthermore, during my time at ASTÜRK, I had the chance to immerse myself in
      understanding company dynamics and the importance of teamwork. I learned to
      work collaboratively with colleagues, appreciating the significance of proper
      communication channels and techniques in achieving successful outcomes in this
      industry.
      <br />
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Rhino 6, Rhino 7 (4/5)</li>
      <li>Rhino Grasshopper (4/5)</li>
      <li>Blender (4/5)</li>
      <li>Revit (3/5)</li>
      <li>Twinmotion (5/5)</li>
      <li>Lumion (3/5)</li>
      <li>Substance Painter (3/5)</li>
      <li>AutoCad (4/5)</li>
      <li>Photoshop (4/5)</li>
      <li>Illustrator (3/5)</li>
      <li>Pico8 (3/5)</li>
      <li>Phyton (1/5)</li>
    </ul>
  </div>
</BaseLayout>
