---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 🌸</div>
    <div class="text-5xl font-bold">I'm İpek Unuç</div>
    <div class="text-3xl py-3 font-bold">Architect and 2D & 3D Artist</div>
    <div class="py-2">
      <text class="text-lg">
        Hey! I'm an architecture grad with a passion for both 2D and 3D art.
        Specializing in 3D modeling, texturing and rendering, I aim to blend the
        best of all the fields I'm involved in.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/unucipek" target="_blank">
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Showcases</div>
  </div>
  <ul class="flex flex-wrap justify-center">
    <HorizontalCard
      title="Semi-Realistic 3D Environmental Works"
      img="/underpass.png"
      target="_self"
      url="semi-real-3d-env-works"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Low-Poly 3D Environmental Works"
      img="/coffee-shop.png"
      target="_self"
      url="low-poly-3d-env-works"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Semi-Real 3D Props"
      img="/adventure-kit-sc.png"
      target="_self"
      url="semi-real-3d-props"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Low Poly 3D Props"
      img="/close-up.png"
      target="_self"
      url="low-poly-3d-props"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="3D Characters"
      img="/grogu.png"
      url="/3d-characters"
      target="_self"
      badge="FOSS"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="2D Works"
      img="/snake-ink.png"
      url="/2d-works"
      target="_self"
      badge="FOSS"
    />
  </ul>
</BaseLayout>
